/* Estilo Normalizado */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --marron: #8F4A1F;
    --marronclaro: #B15C27;
    --grisclaro: #e9e9e9;
    --grisoscuro: #333333;
    --negro: #000000;
    --blanco: #ffffff;
}

/* HEADER */
header {
    min-height: 15vh;
}

#header-nav {
    /* background-color: var(--blanco) !important; */
    background-color: var(--grisclaro) !important;
    /* background-color: var(--negro) !important; */
    min-height: 14vh;
}

.navbar {
    /* background-color: var(--blanco) !important; */
    background-color: var(--grisclaro) !important;
    /* background-color: var(--negro) !important; */
    height: 15vh;
    width: 100%;
    position: fixed !important;
    z-index: 2 !important;
}

#navbarNav {
    justify-content: end;
    align-items: center;
    font-size: larger;
}

.container-fluid {
    background-color: var(--blanco) !important;
    /* background-color: var(--grisclaro) !important; */
    /* background-color: var(--negro) !important; */
}

.navbar-nav {
    background-color: var(--blanco) !important;
    /* background-color: var(--grisclaro) !important; */
    /* background-color: var(--negro) !important; */
    font-size: 120%;
    gap: 1rem;
    align-items: center !important;
    padding: 1rem;
    margin-bottom: .5rem;
}

.nav-item {
    padding-right: .5rem;
}

.nav-link {
    font-weight: bold !important;
    color: var(--negro) !important;
    /* color: var(--blanco) !important; */
}

.nav-link:hover {
    color: var(--marronclaro) !important;
    /* color: var(--marron) !important; */
}

#navContainer {
    background-color: var(--blanco) !important;
    /* background-color: var(--grisclaro) !important; */
    /* background-color: var(--negro) !important; */
}

.active {
    color: var(--marronclaro) !important;
    /* color: var(--marron) !important; */
}

.navbar-toggler-icon {
    filter: invert(100%);
}



.icono {
    width: 8rem;
    margin-left: 1rem;
}

section {
    border-radius: 16px;
    background-color: rgb(255, 255, 255);
    margin: 2%;
    padding: 2%;
}

section.blog-title {
    margin-top: 32px;
}

section.blog-index {
    background-color: rgba(255, 255, 255, 0.4);
}


article {
    background-color: chocolate;
    margin: 4%;
    padding: 4%;
}